{% extends "blog/base.html" %}
{% block content %}
    <h2>Your have been Logged out.</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'blog-home' %}">Back to Home</a>
        </small>
    </div>
{% endblock content %}