{% extends "blog/base.html" %}
{% block content %}
<div class="alert alert-info">
    Your password has been reset successfully.
</div>
<a href="{% url 'login' %}">Login to your accout</a>
{% endblock content %}